<!DOCTYPE html>
<html>
<head>
    <TITLE>兴业证券行情交易系统</TITLE>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes"/>
        
    <script type="text/javascript">
        /*var phoneScale = parseFloat(window.screen.width) / 640;
        document.write('<meta name="viewport" content="width=640, user-scalable=no">');*/
        var phoneScale = parseInt(window.screen.width) / 640;
        document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi, user-scalable=no">');
    </script>
    
    </head>
    <body>
    	<div id="app-wrapper"></div>
    </body>
</html>
